1. Address :1/26 Clarence ST, Port Macquarie, 2444
2. timings ( with am and pm ):

    Monday:  5pm-10pm
    Tuesday: Closed
    wednesday: 11 am to 2:30 pm, 5pm-10pm
    Thursday: 11 am to 2:30 pm, 5pm-10pm
    Friday : 11 am to 2:30 pm, 5pm-10pm
    Saturday: 11 am to 2:30 pm, 5pm-10pm
    Sunday :11 am to 2:30 pm, 5pm-10pm

3. phone no. +61 450 614 576

4.  email: Saffron24@outlook.com.au

5. restaurant name : Saffron Restaurant and bar

6. tagline : "Innovate, Indulge, Inspire – A Fusion Taste to Admire!"

7. menu with prices: 
i will send you photos

8. restaurant history in 100 to 150 words

   Welcome to Saffron Restaurant and Bar, where culinary excellence meets community spirit in the heart of Port Macquarie. Our menu boasts an impressive 90% of house-made dishes, carefully curated from the finest locally sourced ingredients, ensuring each bite is infused with quality and flavor.

More than just a dining destination, Saffron is a beloved gathering place, cherished for its warm atmosphere and impeccable service. Led by a passionate team, we continuously refine our offerings to reflect the evolving tastes and preferences of our guests.

Step inside and experience our dishes, crafted with love and creativity, in an environment that feels like home. Whether you're seeking a cozy dinner for two or a memorable gathering with friends, Saffron invites you to savor the moment and become part of our culinary family.

9. your restaurant has been establish since?
 will open on may 8, 2024

10. dish of the day with its price
    Changes everyday we are not open yet leave it with a sample

11. special menu with prices
    not created yet
12. any one client review with his/her name ( if not available, create an imaginary )
    Name:Anuz Thapa 
    Review: Beautiful customer service with excellent food, what a new restaurent we have got in this town. Must Vist.

13. lunch time time is 11am to 2:30 PM 
14. dinner time  is 5pm to 9PM
15. upcoming events/festivals: Mothers Day Special Menu on Sunday 12 may 2024
16. social links: https://www.facebook.com/profile.php?id=61557674834147